@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme inline {
    --font-sans:
        Instrument Sans, ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    --color-navy-surface: #0e1626;
    --color-navy-bg: #080d1a;
    --color-app-bg: #f4f6fa;
    --color-accent-green: #8ce79b;
    --color-accent-rose: #ff7575;
}
